---
import MainLayout from '../../layouts/MainLayout.astro'
import { wpquery } from '../../data/wordpress'

export async function getStaticPaths() {
	const data = await wpquery({
		query: `
		query LoadAllPosts {
			posts {
				nodes {
					slug
					title
					featuredImage {
						node {
							mediaItemUrl
							sizes
							srcSet
							altText
						}
					}
					content(format: RENDERED)
					seo {
						metaDesc
						title
					}
				}
			}
		}
    `,
	})
	return data.posts.nodes.map((post: any) => {
		return {
			params: { slug: post.slug },
			props: { post },
		}
	})
}
const { post } = Astro.props
---

<MainLayout title={post.seo.title} description={post.seo.metaDesc}>
	<div class='container'>
		<h1 class='text-2xl font-bold pt-5'>{post.title}</h1>
		<article class='prose lg:prose-xl pt-5 prose-invert'>
			<Fragment set:html={post.content} />
		</article>
	</div>
</MainLayout>
