---
import MainLayout from '../../layouts/MainLayout.astro'
import { wpquery } from '../../data/wordpress'

const { post } = Astro.props
---

<MainLayout title={post.seo.title} description={post.seo.metaDesc}>
	<div class='container'>
		<h1 class='text-2xl font-bold pt-5'>{post.title}</h1>
		<article class='prose lg:prose-xl pt-5 prose-invert'>
	
		</article>
	</div>
</MainLayout>
