---
import MainLayout from '../../layouts/MainLayout.astro'
import { wpquery } from '../../data/wordpress'

const data = await wpquery({
	query: `
	query LoadPostsExcerpt {
			posts {
				nodes {
					slug
					title
					excerpt
					featuredImage {
						node {
							mediaItemUrl
							sizes
							srcSet
							altText
						}
					}
				}
			}
		}
  `,
})
---

<MainLayout title='Website title' description='Website Description'>
	<main class='pt-5'>
		<div class='container'>
			<h1 class='text-center text-5xl pb-10 block'>Мақалалар</h1>
			<div class='grid grid-cols-3 gap-5 py-10'>
				
			</div>
		</div>
	</main>
</MainLayout>
