---
import Layout404 from '../layouts/Layout404.astro'
---

<Layout404 title='Website title' description='Website Description'>
	<div class='grid place-items-center h-full'>
		<h1 class='text-center text-5xl md:text-9xl font-bold'>404</h1>
	</div>
</Layout404>
