---
import MainLayout from '../layouts/MainLayout.astro';
import Games from '../components/Games';
import { Image } from '@astrojs/image/components';
import betImageTop from '../../public/bet-1.png';
import betImageBottom from '../../public/bet-2.png';
---

<MainLayout
  title="Bet page title"
  description="Bet page Description"
  noindex="false"
  nofollow="false"
  ogImage="image.png"
  ogType="website"
  canonical="/bet">
  <div class="container px-5 py-10">
    <h1 class="text-2xl md:text-4xl mb-5 font-bold">Pin up казиносындағы ставкалар</h1>

    <div class="bg-[#201A40] p-5 rounded font-extralight mb-10">
      <p class="mb-5">
        Егер сең, Pin-Up сайтында ставка жасағың келсе, онда бар болғаны, тіркеу мен сәйкестендіру
        рәсімдерінен өтуін керек! Бұл негізінен жалғыз және міндетті шарт. Тіркелу қажеттілігінің
        себебі – жұмыс айнасында тегін режимдердің болмауында. Әрине, егер сен қызығушылық танытсаң,
        pin up онлайн-казиносында демо режимінде де, құмар ойындарды көруіне болады. Бірақ
        кез-келген жағдайда, біздің казинода ставкалар қоюын үшін, сенің тіркелуін міндетті болып
        табылады.
      </p>
      <p>
        Енді сен тіркелдің, тексеруден өттің және шотты толтырдың делік. Енді Pin-Up сайтында ставка
        жасауға кіріс. Келесі нұсқаулықты орында: 1) Режимдердің бірін таңда: сызық (линия) немесе
        live. 2) Өзіне, яғни саған қажет оқиғаны нұқы. 3) Ары қарай, таңдаған нәтиже коэффициентін
        нұқы. 4) Ставканың мөлшерін енгізіп, "ставка жасау" түймесін бас. Болды! Біздің Pin up
        онлайн казиносында спорттық ставкаларды қоюды үйрендің!
      </p>
    </div>

    <div class="bg-purpur py-10 px-7 mb-5">
      <div class="flex flex-col lg:flex-row items-center gap-5">
        <Image src={betImageTop} width={596} height={361} alt="bet image" class="w-full" />
        <div class="flex flex-col items-start gap-5">
          <h2 class="text-3xl font-semibold">Pin up казиносындағы ставкалар !</h2>
          <p class="text-2xl">
            Бізде – танымал спорт түрлеріндегі негізгі чемпионаттардың жоғары бағаларымен
            ерекшеленеді. Бұл дәл betting pin up-қа қоюдың тағы да бірден-бір себебі!
          </p>
          <a
            href="#"
            class="button bg-yellow text-black font-semibold rounded-full py-2 px-12 text-center uppercase"
            >mərc et
          </a>
        </div>
      </div>
    </div>

    <h2 class="text-3xl mb-5 font-bold">Pin up-тағы спорттық ставкалар</h2>

    <p class="mb-5">
      Біз, өзіміздің - pin up ресми сайтымызда, саған ставкалардың көптеген түрлерін ұсынамыз! Және
      соның ішінде біз, спорттық іс-шаралар бойынша жиі өткізіліп тұратын, pin up-тағы спорттық
      ставкаларды ерекше атап өткізіп келеді! Неге дейсің бе? Себебі, бізде сен келесідей
      артықшылықтарға көз жеткізе аласың:
    </p>

    <ul class="list-disc pl-5 mb-5">
      <li class="mb-2">
        Сен спорттық, Live, киберспорт, ставкаларының блоктарын әп мезетте, оңай, еш қиындықсыз
        ауыстыра аласың;
      </li>
      <li class="mb-2">
        Бонустар, турнирлер және негізгі жаңалықтар үшін бөлек қойындыларымыз бар;
      </li>
      <li class="mb-2">
        Сол жақта, ыңғайлы орналастырылған сызықтың (линии) негізгі турнирлері бар. 1 рет басу
        арқылы сең, live-тағы үздік матчтарға көше аласың;
      </li>
      <li>
        Купондар, pin up веб-сайтың оң жақ бетінде орналасқан. Төменде ставканың сәттілігін есептеу
        үшін генераторлар да бар!
      </li>
    </ul>

    <p class="mb-5">
      Көріп тұрғанындай біз, сенің ыңғайлығын үшін барымызды салып жұмыс істеудеміз. Ал енді pin
      up-тағы спорттық ставкаларды байқап көр!
    </p>

    <Games client:load />

    <p class="mb-5">
      Жалпы, біз – БК Pin Up, саған үш бөлім бойынша ставкалар ұсынамыз. Олар: "Спорттық ставкалар",
      " Live " және "Киберспорт" категориялары. Сондай-ақ, нақты ставка тағы үшке бөлінетінін еске
      сала кеткеніміз жөн. Олар: "Ординар", "Экспресс" және "Жүйе". Бұл жайында қысқаша,
      әрекеттердің іске асырылу тәртібін айтып өтсек. Жалпы егер сен, pin up-та спорттық ставкаларды
      алғаш рет қойып отырсаң, біз саған келесі, бірнеше принциптерді ұстануға кеңес береміз. 1)
      Ставка жасау үшін тіркел, идентификациядан өт, шотыңды толтыр. 2) Әрі қарай, ставканың түрін
      таңда. 3) Содан кейін сенің купоныңда қанша матч болатынын анықта: ординар (бір оқиға),
      экспресс (екі немесе одан да көп) немесе жүйе (үш немесе одан да көп). 4) Нәтижені нұқы,
      тиісті өріске соманы енгізіп, "ставка жасау" түймесін бас. Болды!
    </p>

    <div class="flex flex-col md:flex-row gap-5 items-center mb-5">
      <p class="max-w-[615px]">
        Pin-Up онлайн-казиносы спорттық ставкалардың барлық түрлерін ұсынады. Олар: футбол, хоккей,
        теннис, баскетбол, волейбол, гандбол, автоспорт, американдық футбол, бадминтон, бейсбол,
        бокс, велоспорт, су добы, гольф, дартс, керлинг, киберспорт, үстел теннисі, нетбол, серфинг,
        аралас жекпе-жек өнері, спидвей, шахмат және т.б. спорт түрлері бар. Бұнымен біз, әркім
        өзіне ұнайтын нәрсені таңдап, ставка жасай алады дегіміз келеді.
      </p>
      <Image src={betImageBottom} alt="bet image" width={727} height={248} class="w-full rounded" />
    </div>

    <p class="mb-5">
      Және біздің басты ерекшелігіміз бұл – маржаның жақсы деңгейін сақтаймыз. Pin up-тағы спорттық
      ставкалардың коэффициенттері өте жақсы және белгілі бір мәннен төмен түспейді. Бізде – танымал
      спорт түрлеріндегі негізгі чемпионаттардың жоғары бағаларымен ерекшеленеді. Бұл дәл betting
      pin up-қа қоюдың тағы да бірден-бір себебі!
    </p>

    <p>
      Неге спорттық ставкаларды pin up-та қою керек екендігін білмейсің бе? Онда назарыңа ҮЗДІК-2
      себепті ұсынамыз! Себеп-1: Ставканың генераторы. Беттинг нарығындағы бірегей опция. Сен
      қолайлы ставканы таңдау үшін, қалаған төрт параметрді орнату арқылы, жүйенің саған ұсынатын
      функцияны пайдалана аласың. Себеп-2: Чек-редактор. Егер экспресс әлі ойында болса, сен ұқсас
      коэффициенттермен нәтижені қоса немесе ауыстыра аласың. Айтпақшы, біліп қой: ставканы қай
      жерден қойсаң да – дербес компьютерден, ноутбуктан, планшеттен немесе смартфоннан –бәрібір.
      Себебі, pin up веб-сайтының функционалдығы барлық жерде бірдей. Нені күтіп тұрсын? Pin up-та
      спорттық ставкаларды қою арқылы жеңіскер атаң!
    </p>
  </div>
</MainLayout>
