---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title='Website title' description='Website Description'>
	<main class="flex-auto">
		<div class='container'>
			<h1>Download page</h1>
		</div>
	</main>
</MainLayout>
