---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from 'astro-navbar';

const navLinks = [
  { title: 'Басты бет', url: '/bet' },
  { title: 'App', url: '/app' },
  { title: 'Бонустар', url: '/bonus' },
  { title: 'Мақалалар', url: '/blog' },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header class="w-full bg-black shadow">
  <div class="container justify-between gap-3 px-4 mx-auto xl:items-center xl:flex xl:px-8">
    <div class="flex items-center justify-between py-3 xl:py-5 xl:block">
      <a href="/">
        <img src="/logo.svg" alt="image" width={185} height={70} class="w-[120px] xl:w-full" />
      </a>
      <div class="xl:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>

    <Astronav>
      <MenuItems class="hidden lg:flex">
        <ul class="items-center justify-center space-y-8 xl:flex xl:space-x-6 xl:space-y-0 text-xl">
          {
            navLinks.map((data, index) => (
              <li class="hover:text-yellow transition-colors">
                <a href={data.url} class={currentPath === data.url.slice(1) ? 'text-yellow' : ''}>
                  {data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>

    <div class="items-center gap-5 hidden xl:flex">
      <a href="#" class="py-2 px-6 border-2 border-purpur rounded-full"> Вход</a>
      <a href="#" class="py-2 px-6 text-black bg-yellow rounded-full"> Регистрация</a>
    </div>
  </div>
</header>
