---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
const navLinks = [
  { title: 'Басты бет', url: '/bet' },
  { title: 'App', url: '/app' },
  { title: 'Бонустар', url: '/bonus' },
  { title: 'Мақалалар', url: '/blog' },
];
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<header class="p-5">
  <div class="container mx-auto xl:flex justify-between items-center gap-5">
    <Astronav>
      <div class="flex items-center justify-between gap-6 flex-wrap">
        <div class="flex items-center gap-5">
          <MenuIcon class="w-6 h-6 xl:hidden" />
          <a href="/">
            <img src="/logo.svg" alt="image" width={185} height={70} class="w-[120px] xl:w-full" />
          </a>
        </div>
        <div class="items-center gap-5 xl:hidden">
          <a href="#" class="py-2 px-6 border-2 border-purpur rounded-full hover:bg-purpur"> Вход</a>
          <a href="#" class="py-2 px-6 text-black bg-yellow rounded-full"> Регистрация</a>
        </div>
      </div>
      <MenuItems class="hidden xl:flex py-5">
        <ul class="flex flex-col xl:flex-row gap-4 pt-5 xl:flex xl:space-x-6 xl:space-y-0 xl:pt-0 text-xl">
          {
            navLinks.map((data) => (
              <li class="hover:text-yellow transition-colors">
                <a href={data.url} class={currentPath === data.url.slice(1) ? 'text-yellow' : ''}>
                  {data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
      <div class="items-center gap-5 hidden xl:flex">
        <a href="#" class="py-2 px-6 border-2 border-purpur rounded-full hover:bg-purpur"> Вход</a>
        <a href="#" class="py-2 px-6 text-black bg-yellow rounded-full"> Регистрация</a>
      </div>
    </Astronav>
  </div>
</header>
