---
import "@fontsource/roboto";
import Header from "../components/Header";
import Slider from "../components/Slider";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead title={title} description={description} />
  <body class="bg-dark min-h-full text-white text-xl font-light">
    <Header client:load />
    <Slider client:only="react" />
    <Breadcrumbs />
    <slot />
    <Footer />
  </body>
</html>
